SKIPCHECK;

['Saldo Final GL']=N:
   IF(!ALL.D.MOEDAS @= 'USD'
      , STET
      , DB('BAL.BALANCETE', !ALL.D.CONTAS_BALANCETE, !ALL.D.ANO, !ALL.D.MES, 'USD', !ALL.D.MOEDA_VERSAO, !ALL.D.VERSAO, 'Saldo Final GL')
        * DB('PRE.MOEDAS_DE_PARA', !ALL.D.ANO, !ALL.D.MES, 'USD', !ALL.D.MOEDAS,
                             ATTRS('ALL.D.CONTAS_BALANCETE', !ALL.D.CONTAS_BALANCETE, 'Taxa de Cambio'),
                             !ALL.D.MOEDA_VERSAO,'Taxa'));

# Set Closing DR/CR
#####
['Débito']=N:
   IF(['Saldo Final GL'] > 0
      , ['Saldo Final GL']
      , 0);

['Crédito']=N:
   IF(['Saldo Final GL'] < 0
      , -1 * ['Saldo Final GL']
      , 0);

# Set first period opening balance
#####
['M1','Balanço de Abertura GL']=N:
   IF(ATTRS('ALL.D.CONTAS_BALANCETE', !ALL.D.CONTAS_BALANCETE, 'Tipo Relatorio') @= 'Receita'
      , 0
      , IF(ELCOMP('ALL.D.ANO', 'Todos os Anos', 1) @= !ALL.D.ANO
           , 0
           , DB('BAL.BALANCETE',!ALL.D.CONTAS_BALANCETE,
                             DB('PRE.DATA_FORMATO', !ALL.D.ANO, !ALL.D.MES, '-1', 'YYYY'),
                             DB('PRE.DATA_FORMATO', !ALL.D.ANO, !ALL.D.MES, '-1', 'Period'),
                             !ALL.D.MOEDAS, !ALL.D.MOEDA_VERSAO, !ALL.D.VERSAO, 'Saldo Final GL')));

['Balanço de Abertura GL']=N:
   DB('BAL.BALANCETE',!ALL.D.CONTAS_BALANCETE,
                             DB('PRE.DATA_FORMATO', !ALL.D.ANO, !ALL.D.MES, '-1', 'YYYY'),
                             DB('PRE.DATA_FORMATO', !ALL.D.ANO, !ALL.D.MES, '-1', 'Period'),
                             !ALL.D.MOEDAS, !ALL.D.MOEDA_VERSAO, !ALL.D.VERSAO, 'Saldo Final GL');

['Movimento GL']=N:
   ['Saldo Final GL'] - ['Balanço de Abertura GL'];

['Saldo Final']=N:
   IF(ATTRS('ALL.D.CONTAS_BALANCETE', !ALL.D.CONTAS_BALANCETE, 'Tipo DB/CR') @= 'CR'
      , ['Crédito'] - ['Débito']
      , ['Débito'] - ['Crédito']);

['Saldo Inicial']=N:
   IF(ATTRS('ALL.D.CONTAS_BALANCETE', !ALL.D.CONTAS_BALANCETE, 'Tipo Relatorio') @= 'Receita' &
       TRIM(SUBST(!ALL.D.MES, 2, 2)) @= '1'
      , DB('BAL.BALANCETE',!ALL.D.CONTAS_BALANCETE, !ALL.D.ANO, SUBST(!ALL.D.MES,1,1) | '0', !ALL.D.MOEDAS, !ALL.D.MOEDA_VERSAO, !ALL.D.VERSAO, 'Saldo Final')
      , DB('BAL.BALANCETE',!ALL.D.CONTAS_BALANCETE,
                             DB('PRE.DATA_FORMATO', !ALL.D.ANO, !ALL.D.MES, '-1', 'YYYY'),
                             DB('PRE.DATA_FORMATO', !ALL.D.ANO, !ALL.D.MES, '-1', 'Period'),
                             !ALL.D.MOEDAS, !ALL.D.MOEDA_VERSAO, !ALL.D.VERSAO, 'Saldo Final'));

['Movimento']=N:
   ['Saldo Final'] - ['Saldo Inicial'];


FEEDERS;

['USD','Saldo Final GL'] =>
   DB('BAL.BALANCETE',!ALL.D.CONTAS_BALANCETE, !ALL.D.ANO, !ALL.D.MES, 'Moedas em Uso', !ALL.D.MOEDA_VERSAO, !ALL.D.VERSAO, 'Saldo Final GL');

['Saldo Final GL'] =>
   DB('BAL.BALANCETE',!ALL.D.CONTAS_BALANCETE,
                             DB('PRE.DATA_FORMATO', !ALL.D.ANO, !ALL.D.MES, '+1', 'YYYY'),
                             DB('PRE.DATA_FORMATO', !ALL.D.ANO, !ALL.D.MES, '+1', 'Period'),
                             !ALL.D.MOEDAS, !ALL.D.MOEDA_VERSAO, !ALL.D.VERSAO, 'Balanço de Abertura GL');

['Saldo Final GL'] => ['Movimento GL'], ['Saldo Final'], ['Crédito'], ['Débito'];

['Balanço de Abertura GL'] => ['Movimento GL'], ['Saldo Inicial'];

['Saldo Final'] => ['Movimento'];

['Saldo Inicial'] => ['Movimento'];
