SKIPCHECK;

['Final do Mes']=N:
   IF(!ALL.D.MOEDAS @= 'USD'
      , STET
      , DB('BAL.BALANCO', !ALL.D.CONTAS_CONTABEIS, !ALL.D.ANO, !ALL.D.MES, 'USD', !ALL.D.MOEDA_VERSAO, !ALL.D.VERSAO, 'Final do Mes')
        * DB('PRE.MOEDAS_DE_PARA', !ALL.D.ANO, !ALL.D.MES, 'USD', !ALL.D.MOEDAS,
                             ATTRS('ALL.D.CONTAS_CONTABEIS', !ALL.D.CONTAS_CONTABEIS, 'Taxa de Cambio'),
                             !ALL.D.MOEDA_VERSAO,'Taxa'));

['Final do Mes Anterior']=N:
   DB('BAL.BALANCO',!ALL.D.CONTAS_CONTABEIS,
                             DB('PRE.DATA_FORMATO', !ALL.D.ANO, !ALL.D.MES, '-1', 'YYYY'),
                             DB('PRE.DATA_FORMATO', !ALL.D.ANO, !ALL.D.MES, '-1', 'Period'),
                             !ALL.D.MOEDAS, !ALL.D.MOEDA_VERSAO, !ALL.D.VERSAO, 'Final do Mes');

['Movimento do Período']=N:
   ['Final do Mes'] - ['Final do Mes Anterior'];

['Final do Mes Ano Anterior']=
   DB('BAL.BALANCO',!ALL.D.CONTAS_CONTABEIS,
                             DB('PRE.DATA_FORMATO', !ALL.D.ANO, !ALL.D.MES, '-1', 'YYYY'),
                             !ALL.D.MES, !ALL.D.MOEDAS, !ALL.D.MOEDA_VERSAO, !ALL.D.VERSAO, 'Final do Mes');


FEEDERS;

['USD', 'Final do Mes'] =>
   DB('BAL.BALANCO',!ALL.D.CONTAS_CONTABEIS, !ALL.D.ANO, !ALL.D.MES, 'Moedas em Uso', !ALL.D.MOEDA_VERSAO, !ALL.D.VERSAO, 'Final do Mes');

['Final do Mes'] =>
   DB('BAL.BALANCO',!ALL.D.CONTAS_CONTABEIS,
                             DB('PRE.DATA_FORMATO', !ALL.D.ANO, !ALL.D.MES, '+1', 'YYYY'),
                             DB('PRE.DATA_FORMATO', !ALL.D.ANO, !ALL.D.MES, '+1', 'Period'),
                             !ALL.D.MOEDAS, !ALL.D.MOEDA_VERSAO, !ALL.D.VERSAO, 'Final do Mes Anterior');

['Final do Mes'] => ['Movimento do Período'];

['Final do Mes Anterior'] => ['Movimento do Período'];

['Final do Mes'] =>
   DB('BAL.BALANCO',!ALL.D.CONTAS_CONTABEIS,
                             DB('PRE.DATA_FORMATO',!ALL.D.ANO,!ALL.D.MES,'+1','YYYY'),
                             !ALL.D.MES, !ALL.D.MOEDAS, !ALL.D.MOEDA_VERSAO, !ALL.D.VERSAO, 'Final do Mes Ano Anterior');

