SKIPCHECK;

['Período atual']=N:
   IF(!ALL.D.MOEDAS @= 'USD'
      , STET
      , DB('REC.RECEITAS',!ALL.D.CONTAS_RECEITAS, !ALL.D.ANO, !ALL.D.MES, 'USD', !ALL.D.MOEDA_VERSAO, ! ALL.D.VERSAO, 'Período atual')
        * DB('PRE.MOEDAS_DE_PARA', !ALL.D.ANO,!ALL.D.MES, 'USD', !ALL.D.MOEDAS,
                                        ATTRS('ALL.D.CONTAS_RECEITAS',  !ALL.D.CONTAS_RECEITAS, 'Taxa de Cambio'),
                                        !ALL.D.MOEDA_VERSAO, 'Taxa'));

['Período anterior']=N:
   DB('REC.RECEITAS',!ALL.D.CONTAS_RECEITAS,
                                        DB('PRE.DATA_FORMATO', !ALL.D.ANO, !ALL.D.MES,' -1', 'YYYY'),
                                        DB('PRE.DATA_FORMATO', !ALL.D.ANO, !ALL.D.MES, '-1', 'Period'),
                                        !ALL.D.MOEDAS, !ALL.D.MOEDA_VERSAO, !ALL.D.VERSAO, 'Período atual');

['Acumulado do ano']=N:
   DB('REC.RECEITAS',!ALL.D.CONTAS_RECEITAS, !ALL.D.ANO,
                                        IF(SUBST(!ALL.D.MES, 1, 3) @<> 'YTD'
                                           , 'YTD ' | !ALL.D.MES
                                           , !ALL.D.MES),
                                        !ALL.D.MOEDAS, !ALL.D.MOEDA_VERSAO, !ALL.D.VERSAO, 'Período atual');

['Acumulado do ano anteriro']=N:
   DB('REC.RECEITAS',!ALL.D.CONTAS_RECEITAS,
                                        DB('PRE.DATA_FORMATO', !ALL.D.ANO, !ALL.D.MES,' -1', 'YYYY'),
                                        DB('PRE.DATA_FORMATO', !ALL.D.ANO, !ALL.D.MES, '-1', 'Period'),
                                        !ALL.D.MOEDAS, !ALL.D.MOEDA_VERSAO, !ALL.D.VERSAO, 'Acumulado do ano');

['Mesmo período Ano Anterior']=N:
   DB('REC.RECEITAS',!ALL.D.CONTAS_RECEITAS,
                                        DB('PRE.DATA_FORMATO', !ALL.D.ANO, !ALL.D.MES,' -1', 'YYYY'),
                                        !ALL.D.MES, !ALL.D.MOEDAS, !ALL.D.MOEDA_VERSAO, !ALL.D.VERSAO, 'Período atual');


FEEDERS;

['USD','Período atual'] =>
   DB('REC.RECEITAS',!ALL.D.CONTAS_RECEITAS, !ALL.D.ANO, !ALL.D.MES, 'Moedas em Uso', !ALL.D.MOEDA_VERSAO, !ALL.D.VERSAO, 'Período atual');

['Período atual'] =>
   DB('REC.RECEITAS',!ALL.D.CONTAS_RECEITAS,
                                        DB('PRE.DATA_FORMATO', !ALL.D.ANO,! ALL.D.MES, '+1', 'YYYY'),
                                        DB('PRE.DATA_FORMATO',!ALL.D.ANO,!ALL.D.MES,'+1','Period'),
                                        !ALL.D.MOEDAS, !ALL.D.MOEDA_VERSAO, !ALL.D.VERSAO, 'Período anterior');

['Período atual'] =>
   DB('REC.RECEITAS',!ALL.D.CONTAS_RECEITAS, !ALL.D.ANO,
                                        IF(SUBST(!ALL.D.MES, 1, 3) @<> 'YTD'
                                           , 'YTD ' | !ALL.D.MES
                                           , !ALL.D.MES),
                                        !ALL.D.MOEDAS, !ALL.D.MOEDA_VERSAO, !ALL.D.VERSAO, 'Acumulado do ano');

['Acumulado do ano'] =>
   DB('REC.RECEITAS',!ALL.D.CONTAS_RECEITAS,
                                        DB('PRE.DATA_FORMATO', !ALL.D.ANO,! ALL.D.MES, '+1', 'YYYY'),
                                        DB('PRE.DATA_FORMATO',!ALL.D.ANO,!ALL.D.MES,'+1','Period'),
                                        !ALL.D.MOEDAS, !ALL.D.MOEDA_VERSAO, !ALL.D.VERSAO, 'Acumulado do ano anteriro');

['Período atual'] =>
   DB('REC.RECEITAS',!ALL.D.CONTAS_RECEITAS,
                                        DB('PRE.DATA_FORMATO', !ALL.D.ANO,! ALL.D.MES, '+1', 'YYYY'),
                                        !ALL.D.MES, !ALL.D.MOEDAS, !ALL.D.MOEDA_VERSAO, !ALL.D.VERSAO, 'Mesmo período Ano Anterior');

